<!-- DISPLAY CHANGUITO -->
<h3 class="titulo-plantilla">CARRITO:</h3>
<p>Productos({{cantidadProductosChanguito()}})</p>
<hr>
<h3 class="titulo-plantilla">TOTAL A PAGAR:</h3>
<p>{{totalChanguito()}}</p>
<hr>

<!-- SELECCION MEDIO DE PAGO -->
<h3 class="titulo-plantilla">Medio de pago:</h3>
<button class="btn btn-selectivo" [ngClass]="quiereEfectivo()" (click)="seleccionar('Efectivo')">
    Efectivo
</button>
<button class="btn btn-selectivo" [ngClass]="quiereTarjeta()" (click)="seleccionar('Tarjeta')">
    Tarjeta de Crédito/Débito
</button>

<!-- MEDIO DE PAGO EFECTIVO -->
<div class="efectivo" *ngIf="seleccionado == 'Efectivo'">
    <label class="etiqueta-campo" for="calle"> ¿Con cuánto vas a pagar? </label> 
    <input type="text" class="form-control" placeholder="pago" name="pago" id="calle" required pattern="[A-Z, a-z]{4,50}">
</div>

<!-- MEDIO DE PAGO TARJETA -->
<div class="tarjeta" *ngIf="seleccionado == 'Tarjeta'">
    <form name="FormRegistroTarjeta" [formGroup]='FormRegistroTarjeta' class="bg-ligth">
        <fieldset>
            <!--campo NOMBRE Y APELLIDO-->
            <div class="form-group row">
                <label class="etiqueta-campo col-form-label col-sm-2 offset-sm-2" for="NombreApellido">
                    Nombre y Apellido <span class="text-danger">*</span>
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="NombreApellido"
                    [ngClass]="validezCampo('NombreApellido')">
                    <div class="text-danger" *ngIf="validezCampo('NombreApellido')">
                        Dato Requerido.
                    </div>
                </div>
            </div>

            <!--campo NUMERO DE TARJETA-->
            <div class="form-group row">
                <label class="etiqueta-campo col-form-label col-sm-2 offset-sm-2" for="NumeroTarjeta">
                    Numero de Tarjeta <span class="text-danger">*</span>
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="NumeroTarjeta"
                    [ngClass]="validezCampo('NumeroTarjeta')">
                    <div class="text-danger" *ngIf="validezCampo('NumeroTarjeta')">
                        Dato Requerido.
                    </div>
                </div>
            </div>
    
            <!--campo VENCIMIENTO-->
            <div class="form-group row">
                <label class="col-form-label col-sm-2 offset-sm-2" for="Vencimiento">
                    Vencimiento <span class="text-danger">*</span>
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="Vencimiento"
                        [ngClass]="validezCampo('Vencimiento')">
                    <div class="text-danger" *ngIf="validezCampo('Vencimiento')">
                        Dato Requerido.
                    </div>
                </div>
            </div>
    
            <!--campo CVC-->
            <div class="form-group row">
                <label class="col-form-label col-sm-2 offset-sm-2" for="CodigoSeguridad">
                    Codigo de Seguridad <span class="text-danger">*</span>
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" formControlName="CodigoSeguridad"
                        [ngClass]="validezCampo('CodigoSeguridad')">
                    <div class="text-danger" *ngIf="validezCampo('CodigoSeguridad')">
                        Dato Requerido.
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    
    <button type="submit" class="btn btn-siguiente">Siguiente</button>
</div>
   

