.container-efectivo{
    padding-bottom: 2%;
}
.container-tarjeta{
    width:90%;
    height: 90%;
    background-color: #F9EA9A;
}

.btn + .btn {
    margin-left: 2%;
}

.navegacion{
    padding-inline: 2%;
}

p{ 
    display: flex;
    justify-content: center;
}

.form-control{
    color: #5d3a00; 
    align-self: center;
}

@media only screen and (max-width: 768) {
    .btn-selectivo{
        width: 100%;
    }
}
