<div class="container">
    <!-- DISPLAY CHANGUITO -->
    <h3 class="titulo-plantilla text-dark">CARRITO</h3>
    <p>Productos({{cantidadProductosChanguito()}})</p>
    <hr>
    <h3 class="titulo-plantilla text-dark">Total a pagar</h3>
    <p>{{totalChanguito() | currency}}</p>
    <hr>
    
    <!-- SELECCION MEDIO DE PAGO -->
    <h3 class="titulo-plantilla text-dark">Medio de pago</h3>
    <hr>
    <div class="container d-flex justify-content-center">
        <button class="col btn btn-selectivo" [ngClass]="quiereEfectivo()" (click)="seleccionar('Efectivo')">
            Efectivo
        </button>
        <button class="col btn btn-selectivo" [ngClass]="quiereTarjeta()" (click)="seleccionar('Tarjeta')">
            Tarjeta de Crédito/Débito
        </button>
    </div>
    <hr>
    
    <!-- CONTAINER EFECTIVO Y TARJETA (ADAPTATIVO)-->
    <div class="container">
        <!-- MEDIO DE PAGO EFECTIVO -->
        <div class="row container-efectivo" *ngIf="seleccionado == 'Efectivo'">
            <label class="etiqueta-campo" for="calle"> ¿Con cuánto vas a pagar? </label> 
            <input type="text" class="form-control" placeholder="pago" name="pago" id="calle" required pattern="[A-Z, a-z]{4,50}">
        </div>
    
        <!-- CAJA DE PAGO CON TARJETA -->
        <div class="container container-tarjeta">

            <!-- MEDIO DE PAGO TARJETA -->
        <div class="tarjeta" *ngIf="seleccionado == 'Tarjeta'">
            <form name="FormRegistroTarjeta" [formGroup]='FormRegistroTarjeta' class="bg-ligth">
                <fieldset>
                    <div class="form-group full-width">
                        <label class="etiqueta-campo col-form-label" for="NombreApellido">
                            Nombre y Apeliido <span class="text-danger">*</span>
                        </label>                       
                        <input type="text" class="form-control col-md-12" formControlName="NombreApellido"
                            [ngClass]="{'is-invalid': (FormRegistroTarjeta.controls['NombreApellido'].touched || submitted)
                            && FormRegistroTarjeta.controls['NombreApellido'].errors}">
                        <div class="text-danger" *ngIf="(FormRegistroTarjeta.controls['NombreApellido'].touched || submitted)
                            && FormRegistroTarjeta.controls['NombreApellido'].hasError('required')">
                            Dato Requerido.
                        </div>
                    </div>
                    <!--campo numerodetarjeta-->
                    <div class="form-group full-width">
                        <label class="etiqueta-campo col-form-label" for="NumeroTarjeta">
                            Numero de Tarjeta <span class="text-danger">*</span>
                        </label>                       
                        <input type="text" class="form-control col-md-12" formControlName="NumeroTarjeta"
                            [ngClass]="{'is-invalid': (FormRegistroTarjeta.controls['NumeroTarjeta'].touched || submitted)
                            && FormRegistroTarjeta.controls['NumeroTarjeta'].errors}">
                        <div class="text-danger" *ngIf="(FormRegistroTarjeta.controls['NumeroTarjeta'].touched || submitted)
                            && FormRegistroTarjeta.controls['NumeroTarjeta'].hasError('required')">
                            Dato Requerido.
                        </div>
                        <div 
                            class="text-danger" 
                            *ngIf="FormRegistroTarjeta.controls['NumeroTarjeta'].hasError('pattern')">
                            formato xxxx-xxxx-xxxx-xxxx 
                        </div>                       
                    </div>

                    <!--campo vencimiento y CVC-->
                    <div class="form-group full-width">
                        <div class="row full-width">
                            <!--campo Vencimiento-->  
                            <div class="col-sm-4">
                                <label class="col-form-label col-sm-12" for="Vencimiento">
                                    Vencimiento <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" formControlName="Vencimiento"
                                    [ngClass]="{'is-invalid': (FormRegistroTarjeta.controls['Vencimiento'].touched || submitted)
                                    && FormRegistroTarjeta.controls['Vencimiento'].errors}"/>
                                <div class="text-danger" *ngIf="(FormRegistroTarjeta.controls['Vencimiento'].touched || submitted)
                                    && FormRegistroTarjeta.controls['Vencimiento'].hasError('required')">
                                    Dato Requerido.
                                </div>
                                <div 
                                    class="text-danger" 
                                    *ngIf="FormRegistroTarjeta.controls['Vencimiento'].hasError('pattern')">
                                    formato mm/aaaa 
                                </div>
                            </div>
                            <!--campo codigoseguridad-->
                            <div class="col-md-5">
                                <label class="col-form-label row" for="CodigoSeguridad">
                                    Codigo de Seguridad <span class="text-danger">*</span>
                                </label>
                                
                                <input type="text" class="form-control" formControlName="CodigoSeguridad"
                                    [ngClass]="{'is-invalid': (FormRegistroTarjeta.controls['CodigoSeguridad'].touched || submitted)
                                    && FormRegistroTarjeta.controls['CodigoSeguridad'].errors}">
                                <div class="text-danger" *ngIf="(FormRegistroTarjeta.controls['CodigoSeguridad'].touched || submitted)
                                    && FormRegistroTarjeta.controls['CodigoSeguridad'].hasError('required')">
                                    Dato Requerido.
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
            </div>
        </div> 
    </div>
    <div class=" navegacion row d-flex justify-content-between">
        <button type="submit" class="btn btn-siguiente" (click)="volver()">Volver</button>
        <button type="submit" class="btn btn-siguiente" (click)="siguiente()">Siguiente</button>
    </div>
</div>




