.container-seleccion{
    width: 100%;
}
.container-efectivo{
    padding-bottom: 2%;
}
.container-tarjeta{
    border-radius: 5px;
    height: 90%;
    background-color: #F9EA9A;
}

.btn + .btn {
    margin-left: 2%;
}

.navegacion{
    padding-inline: 2%;
    padding-top: 5%;
}

p{ 
    display: flex;
    justify-content: center;
}

.form-control{
    color: #5d3a00; 
    align-self: center;
}

@media only screen and (max-width: 768) {
    .input-lg{
        width:80%;
    }
    .btn-selectivo{
        width: 100%;
    }
    .navegacion{
        padding: 0%;
    }
    .container-tarjeta{
        padding-inline: 0%;
        width:100%;
    }
}
