

.btn + .btn {
    margin-left: 2%;
}

p{ 
    display: flex;
    justify-content: center;
}

.form-control{
    color: #5d3a00; 
    align-self: center;  
    width: 10%; 
    height: 5%;
}

@media only screen and (max-width: 768) {
    .btn-selectivo{
        width: 100%;
    }
}
