<div class="container">
    <!-- DISPLAY CHANGUITO -->
    <h3 class="titulo-plantilla text-dark">CARRITO</h3>
    <p>Productos({{cantidadProductosChanguito()}})</p>
    <hr>
    <h3 class="titulo-plantilla text-dark">Total a pagar</h3>
    <p>{{totalChanguito() | currency}}</p>
    <hr>
    
    <!-- SELECCION MEDIO DE PAGO -->
    <h3 class="titulo-plantilla text-dark">Medio de pago</h3>
    <hr>
    <div class="container d-flex justify-content-center">
        <button class="col btn btn-selectivo" [ngClass]="quiereEfectivo()" (click)="seleccionar('Efectivo')">
            Efectivo
        </button>
        <button class="col btn btn-selectivo" [ngClass]="quiereTarjeta()" (click)="seleccionar('Tarjeta')">
            Tarjeta de Crédito/Débito
        </button>
    </div>
    <hr>
    
    <!-- CONTAINER EFECTIVO Y TARJETA (ADAPTATIVO)-->
    <div class="container">
        <!-- MEDIO DE PAGO EFECTIVO -->
        <form name="FormPagoEfectivo" [formGroup]="FormPagoEfectivo"  *ngIf="seleccionado == 'Efectivo'">
            <label class="etiqueta-campo" for="calle"> ¿Con cuánto vas a pagar? </label> 
            <input type="text" class="form-control" formControlName="Monto" placeholder="Monto" name="Monto" id="Monto">
            <div class=" navegacion row d-flex justify-content-between">
                <button type="submit" class="btn btn-siguiente" (click)="volver()">Volver</button>
                <button [disabled]="FormPagoEfectivo.invalid" type="submit" class="btn btn-siguiente" (click)="siguiente()">Siguiente</button>
            </div>
        </form>
    
        <!-- CAJA DE PAGO CON TARJETA -->
        <form name="FormRegistroTarjeta" [formGroup]="FormRegistroTarjeta" class="container container-tarjeta"
            *ngIf="seleccionado == 'Tarjeta'">
            <!-- MEDIO DE PAGO TARJETA -->
            <div class="tarjeta">
                <!--campo NOMBRE Y APELLIDO [FUNCIONA]--> 
                <div class="form-group full-width">
                    <label class="etiqueta-campo col-form-label" for="NombreApellido"> Nombre y Apellido <span class="text-danger">*</span></label> 

                    <input type="text" class="form-control col-md-12" formControlName="NombreApellido" name="NombreApellido" id="NombreApellido"
                        [ngClass]="validezCampo('NombreApellido')">

                    <div class="text-danger" *ngIf="errorDeRequerido('NombreApellido')">Dato Requerido.</div>
                </div>
                <!--campo NUMERO DE TARJETA-->
                <div class="form-group full-width">
                    <label class="etiqueta-campo col-form-label" for="NumeroTarjeta"> Numero de Tarjeta <span class="text-danger">*</span></label>                       
                    <input type="text" class="form-control col-md-12" formControlName="NumeroTarjeta"
                        [ngClass]="validezCampo('NumeroTarjeta')">
                    
                    <div class="text-danger" 
                        *ngIf="errorDeRequerido('NumeroTarjeta')">Dato Requerido.</div>
                    
                    <div class="text-danger" 
                        *ngIf="errorDePatron('NumeroTarjeta')">Solo números : XXXX-XXXX-XXXX-XXXX </div>                       
                </div>

                <!--campo VENCIMIENTO y CVC-->
                <div class="form-group full-width">
                    <div class="row full-width">
                        <!--campo Vencimiento-->  
                        <div class="col-sm-4">
                            <label class="col-form-label col-sm-12" for="Vencimiento">Vencimiento <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="Vencimiento"
                                [ngClass]="validezCampo('Vencimiento')"/>
                            
                            <div class="text-danger" 
                                *ngIf="errorDeRequerido('Vencimiento')">Dato Requerido.</div>
                            <div class="text-danger" 
                                *ngIf="errorDePatron('Vencimiento')">Formato MM/AAAA </div>
                        </div>
                        <!--campo CVC-->
                        <div class="col-md-5">
                            <label class="col-form-label row" for="CodigoSeguridad">Codigo de Seguridad <span class="text-danger">*</span></label>
                            
                            <input type="text" class="form-control" formControlName="CodigoSeguridad"
                                [ngClass]="validezCampo('CodigoSeguridad')">

                            <div class="text-danger" 
                                *ngIf="errorDeRequerido('CodigoSeguridad')">Dato Requerido.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" navegacion row d-flex justify-content-between">
                <button type="submit" class="btn btn-siguiente" (click)="volver()">Volver</button>
                <button [disabled]="FormRegistroTarjeta.invalid" type="submit" class="btn btn-siguiente" (click)="siguiente()">Siguiente</button>
            </div>
        </form> 
    </div>
    <!--texto: Revisar los datos ingresados...  --> 
    <div id="divMsjFormRegistroTarjeta" class="row alert alert-danger" *ngIf="submitted && FormRegistroTarjeta.invalid">
        <i class="fa fa-exclamation-sign"></i>
    </div>
</div>




