<div class="container">
    <div class="header-plantilla text-light">
        <p>Realizar Pedido a</p>
        <h3>COMERCIO A</h3>
    </div>
    <!--
    -->
    <app-medio-de-pago (estado)="estadoPedido = $event" *ngIf="estadoPedido == 'P'"></app-medio-de-pago>
    <app-direccion-envio (info)="direccionIngresada = $event; mostrar()" (estado)="estadoPedido = $event" *ngIf="estadoPedido == 'D'"></app-direccion-envio>
    <app-entrega (estado)="estadoPedido = $event" *ngIf="estadoPedido == 'E'"></app-entrega>
    
</div>

