.container{
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 70%;
    border: 1px solid black;
    border-radius: 30px;
}@media only screen and (max-width: 768px){
    .container{ 
        width: 90%;
    }
}

.header-plantilla{
    color: white;
    border: 1px solid;
    padding: 1em;
    background-color:#684E32;
    clear: left; 
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px;
}