

<div class="container">
    <h3 class="titulo-plantilla text-dark" >Dirección de envio</h3>
    <hr>
    <form name="FormDireccion" [formGroup]='FormRegistroDireccion' class="form-row" >
        <div class="row full-width">
            <!-- campo CALLE -->
            <div class="form-group col-md-8">
                <label class="etiqueta-campo" for="calle"> Calle<span class="text-danger">*</span>: </label>
                <input type="text" class="form-control" formControlName="Calle" placeholder="Calle" name="calle" id="calle" 
                    [ngClass]="validezCampo('Calle')">

                <div class="validacion" *ngIf="errorDeRequerido('Calle')">
                Dato requerido.
                </div>

                <div class="validacion" *ngIf="errorDePatron('Calle') "> 
                    Dato texto, 4 a 55 caracteres.
                </div>
            </div>
            
            <!-- campo NUMERO -->
            <div class="form-group col-md-4">
                <label class="etiqueta-campo" for="numero"> Número<span class="text-danger">*</span>: </label>
                <input type="text" class="form-control"
                formControlName="Numero"  placeholder="Numero" name="numero" id="numero" 
                [ngClass]="validezCampo('Numero') " >

                <div class="validacion" *ngIf="errorDeRequerido('Numero')">
                    Dato requerido.
                </div>

                <div class="validacion"
                    *ngIf=" errorDePatron('Numero') ">
                    Dato númerico, 1 a 5 caracteres.
                </div>
            </div>
        </div>

        <div class="row full-width">
            <!-- campo CIUDAD -->
            <div class="form-group col-md-5">
                <label class="etiqueta-campo" for="ciudad"> Ciudad<span
                    class="text-danger">*</span>: </label>
                <select class="form-control" formControlName="Ciudad" name="ciudad" id="ciudad" >
                    <option *ngFor="let ciudad of ItemCiudad">{{ciudad.Nombre}}</option>
                </select>
            </div>

            <!-- campo REFERENCIA -->
            <div class="form-group col-md-7">
                <label class="etiqueta-campo" for="referencia"> Referencia (Opcional) </label>
                <textarea class="form-control" 
                formControlName="Referencia"  placeholder="Referencia" name="referencia" id="referencia" rows="2" 
                [ngClass]="validezCampo('Referencia')"></textarea>

                <div class="validacion"
                *ngIf="errorDePatron('Referencia')">
                De 1 a 100 caracteres.
                </div>
            </div>
        </div>
    </form>
    <div class="row justify-content-end">
        <button class="btn btn-siguiente" name="siguiente float-end" type="submit" id="siguiente" 
        (click)="siguiente()">Siguiente</button>
    </div>
</div>

