@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/** ESTILO DE ESTRUCTURA **/
body{
    font-family: 'Roboto', sans-serif;
    
    background-image: url('src/assets/bg.jpg');
    background-size:cover;
}
.padding-2{
    padding: 2%;
}

.full-width{
    width: 100%;
}

/** ESTILO DE TEXTO **/
.titulo-plantilla {
    color: black;
    margin-bottom: 0;
    margin-left:4px;
    
}

.etiqueta-campo{
    margin-left:6px;
}

/** ESTILO DE BOTONES **/
.btn-selectivo{
    
    background-color: #F9EA9A;

    border-radius: 10px;
    border: 1px solid #5d3a00;
    width: 20%; 
    height: 5%;    
}
.seleccionado{ 
    background-color:rgb(249, 137, 72);
    color: #5d3a00;
    border: 1px solid #5d3a00;
    width: 10%; 
    height: 5%;
    
    font-weight: 500;
}


.btn-siguiente{
    background-color: #5d3a00;

    color: white;
    font-weight: 600;
    border: 1px solid #5d3a00;
    margin-right: 2%;
    border-radius: 10px;
}

@media only screen and (max-width: 780px) {
    .btn-siguiente{
        float: right;
        margin-right: 0px;
    }
}