<div class="container">
    <h3 class="titulo-plantilla">CARRITO</h3>
    <hr>
    <p>Productos(5)</p>
    <h3 class="titulo-plantilla">TOTAL A PAGAR</h3>
    <hr>
    <p>$5.000</p>
    <h3 class="titulo-plantilla">Medio de pago</h3>
    <hr>
    <div class="btn btn-primary">Efectivo</div>
    <div class="btn btn-primary">Tarjeta de Crédito/Débito</div><!--PREGUNTAR QUÉ TIPO DE TARJETA-->
    
    <h3 class="titulo-plantilla">Pago en efectivo</h3>
    <label class="l1" for="calle"> ¿Con cuánto vas a pagar? </label> <!--  -->
    <input type="text" class="form-control" placeholder="pago" name="pago" id="calle" required pattern="[A-Z, a-z]{4,50}">
    <button type="submit" class="btn btn-primary">Siguiente</button>
</div>