.container-efectivo{
    padding-bottom: 2%;
}

.navegacion{
    padding-inline: 2%;
}

p{ 
    display: flex;
    justify-content: center;
}

.form-control{
    color: #5d3a00; 
    align-self: center;
}

@media only screen and (max-width: 768) {
    .btn-selectivo{
        width: 100%;
    }
}
